<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /

# If request is NOT file or folder → send to Flutter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /public/web/index.html [L]
</IfModule>

# Protect sensitive files
<Files .env>
  Order allow,deny
  Deny from all
</Files>

<Files composer.json>
  Order allow,deny
  Deny from all
</Files>